extends ../layout

block content
    table.table

        thead

            tr

                th(scope='col') #

                th(scope='col') Color

                th(scope='col') Modelo

                th(scope='col') Ubicación

        tbody

            each bici in bicis

                tr

                    td(scope='row')= bici.bicicletaID

                    td= bici.color

                    td= bici.modelo

                    td= bici.ubicacion

                    td

                        form.inline(method='post' action='bicicletas/' + bici.id + '/delete')

                            input(type='hidden' name='id' value=bici.id)

                            button.link-button(type='submit' class='btn bg-danger')

                                ='Eliminar'

                    td

                        form.inline(method='get' action='bicicletas/' + bici.id + '/update')

                            input(type='hidden' name='id' value=bici.id)

                            button.link-button(type='submit' class='btn bg-warning')

                                ='Modificar'

    a(href="/bicicletas/create" class='btn bg-success') Insertar Bicicleta